body{
    text-align: center;
    background-color: aqua;
}
/* span {
    width: 5%;
} */

#a h4{
    background-color: brown;
}

#b h4{
    background-color: blue;
}

#c h4{
    background-color: green;
}


h4 {
    float: right;
    border: solid 2px;
    border-top: none;
    border-right: none;
    padding: 5px;
    /* outline: dashed 2px; */
    margin-right: 0px;
    margin-top: 0px;
}
.cont{
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
}
.box {
    text-align: center;
    margin-top: 20px;
    width: 30%;  
    background-color: pink;
    outline: black 2px solid;
}

@media only screen and (max-width: 768px) {
    
    .cont {
        width: 100%;
        display: inline-flex;
        flex-wrap: wrap;
    }
    #a {
       
        width: 40%;
        background-color: orange;

    }
    #b {
       
        width: 40%;
        background-color: orange;
    }
    #c {
       
        width: 90%;
        background-color: orange;
    }
  
}

@media only screen and (max-width: 375px) {
    
    .cont {
        width: 100%;
        display: flex;
        flex-direction: row nowrap;
    }
    #a{
        width: 100%;
        background-color: yellow;
    }
    #b{
        width: 100%;
        background-color: yellow;
    }
    #c{
        width: 100%;
        background-color: yellow;
    }
}